.httr-oauth
.quarto
.Rproj.user
.Rhistory
.RData
# R specific
dissertacao_exemplos/
.Ruserdata
.DS_Store
src/*.o
src/*.so
src/*.dll
src-i386
src-x64
*.tar.gz
rLifting.Rcheck/
vignettes/*.html
docs
CRAN-SUBMISSION
inst/doc
vignettes/*.R
